<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>DevelopsToday</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% load static %}
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'post_list' %}">
            DevToday
        </a>
        {% if user.is_authenticated %}
            <span class="navbar-text">
                Welcome, {{ user.username }}
            </span>
            <a class="btn btn-secondary" href="{% url "logout" %}" role="button">Logout</a>
        {% else %}
            <a class="btn btn-primary" href="{% url "login" %}" role="button">Sign In</a>
            <a class="btn btn-secondary" href="{% url "register" %}" role="button">Sign Up</a>
        {% endif %}
    </nav>

    {% block extension %}
    {% endblock %}

    <footer class="bg-dark text-white text-center" style="position: fixed; left: 0; bottom: 0; width: 100%;">
      <div class="footer-copyright text-center py-3">Made on 26.04.2021 for DevelopsToday
      </div>
    </footer>
</body>
</html>